logo*/
.menuTitle {font-size: 40px;font-family: Lobster, Monospace;font-style:italic;margin-left: 100px;margin-top: 20px;display:inline;}
/*margin-right: 1000px;margin-top: 10px;*/
/*float:right 右浮动*/
.audioMusic {width: 250px;float:right;margin: 0;display:inline;}
.banner {
    float: left;
    text-align: center;
    height: 50px;
    width: 20%;
    line-height: 40px;
    font-size: 18px;
}   
.banner:hover {
    background-color: Silver;
    cursor: pointer;
}
nav div ul {
    list-style: none;
    /*display: none;*/
    background-color: LightSlateGray;
    overflow: hidden;
    /*模拟height:auto时候的情况*/                
    max-height: 0px;
    transition: max-height 0.3s;
    /*多浏览器支持*/
    -moz-transition: height 1s;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
} 
/*hover鼠标悬浮 */
.banner:hover ul {
    /*display: block;*/
    width: 100%;
    max-height: 160px;
} 
nav div ul li {
    /*overflow 属性可以确定是否显示滚动条等行为。*/
    overflow: hidden;
}


body{margin: 0;font-family: "微软雅黑";background-color: gray }

/*index.html*/
/*轮翻滚动*/
.fist_row{width: 100%;height: 520px;margin-top: 60px;display:inline;}
.example{float:left;margin-top: 10px;width: 50%;height: 520px;font-size: 40px;background-color: gray;}
.carousel-item{line-height: 520px;color: #fff;font-family:  Arial Black}
.content2{float:right;margin-top: 10px;width: 48%;display:inline;}
.search1{float:right;margin: 63px auto;position: relative}
.hot-list{background-color: Silver;height: 40px;font-size: 18px;line-height: 40px;text-align: center;}
.hot-news-list{margin-top: 12px;height: 25px;font-size: 18px;}
.hot-news{margin-top: 10px;display: block;height: 25px;}
/*鼠标悬停凸出效果*/
/*居中text-align: center*/
.hot-text{list-style: none;transition: transform 0.25s ease;text-align: center}
.hot-text:hover{transform: scale(1.2,1.2);box-shadow: 0 0 6px #C0C0C0;cursor: pointer;}

/*.search_button{float:right;margin-top: 40px}*/
.foot{margin-left: 40%;width: 50%;height: -10%;margin-bottom: 2%;}
/*最新内容*/
.new_content{width: 50%;height: 520px;display:inline;}
.content3{margin-top: 540px;}
/*basic2_1.html*/
/*<!-- 基本技法样式 -->*/
.content1{background-color: Silver;width: 100%;height: 30px;font-size: 17px;}
a{text-decoration: none;font-family: Lobster;color: black;font-weight: 900}
.tips{height: 30px}
.all_content{margin-left: 10%;width: 80%;}/*background: #ffffff;*/
.foot{margin-left: 38%;width: 50%; margin-top:1000px;}/*margin-top:400px;margin-left: 40%;*/
.image_jifa{width: 80%;}
/*// 主页文章添加阴影效果*/
.a_list{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    -webkit-box-shadow: 0 0 5px #000;/*rgba(202, 203, 203, .5)*/
    -moz-box-shadow: 0 0 5px #000;/*rgba(202, 203, 204, .5)*/
}
.image_list{
    width: 80px;
    height: 80px;
    display:inline;

}
.note{
    display:inline;

}

           /* ul{display: block;}  
            ul li{transition: transform 0.25s ease;float: left;width: 200px;height: 200px;line-height: 200px; text-align: center;margin: 10px; background-color: #00b5e1;list-style: none;}      
            ul li:hover{transform: scale(1.2,1.2);box-shadow: 0 0 10px #0000ff;cursor: pointer;} 